/* .text-1{
    display: inline-block;
}

.subtext{
    display: inline;
}

text-2{
    display: inline;
} */

.text-1{
    display: flex;
}

.container{
    border: 5px solid red;
    width: 100vw - 20px;
    height: 100vh - 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

img{
    margin: 30px;

}